//used to define main styles (fonts, colours etc) to shrink modules
//dollar sign defines the variable, like in PHP

$main-textcolor: red;
$main-font:"arial", "helvetica", sans-serif;
$p-fontsize: 16pt;